.post__type .navbar{
  border-bottom: 0px solid #fff;
}
.header__primary.menu{
  height: auto !important;
}

.card__title{
  color: #fff !important;
  font-size:2.25em;
  padding: 60px 0px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0, .27);
  text-align: center;
}
.header__img{
  min-height: 200px;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  padding-bottom:32px;
}
.img .container .card__title{
  padding-top: 64px;
}
.card__form{

}
.post .card__form{
  margin: 0px !important;
  margin-bottom: 32px !important;
  flex-direction: column;
}
.content_post{
  position: relative;
}
.content_post .post{
  position: absolute;
  top: -40px;
}

.title__form{
  color: #646464;
}

.text__post{

}
.title__post{
  font-weight: 500;
}

.paragraph__text{
  color: rgba(0,0,0, .64);
  font-size:1em;
  line-height: 140%;
  font-weight: lighter;
}

.box__post{
  background-color: #38b491;
  border-radius: 8px;
  padding: 24px;
}

.box__post img{
  width: 120px;
  margin-bottom: 16px;
  margin-top: 8px;
}
.box__title{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.modal-dialog{
  min-width: 80%;
}

/* .content_post {
 min-height: calc(100vh - 348px);
} */
@media (min-width: 992px) {
  /* Modal Width */
  .modal-dialog{
    min-width: 50%;
  }
}

.modal-body {
  position: relative;
}
.downebook{
  position: absolute;
}
/* modal fotter */
.downebook{
  visibility: hidden;
  align-items: baseline;
}
.downebook h6{
  margin-right: 16px;
}
@media (max-width: 992px) {
  .content__text{
    flex-direction: column !important;
    align-items: center !important;
  }
  .box__post{
    margin-bottom: 16px;
  }
}
/* break point */
@media (max-width: 768px) {
  form{
    flex-direction: column !important;
  }
  .form-group{
    margin-bottom: 8px !important;
  }
  .btn__form{
    display: flex;
    justify-content: center;
  }
  .remove__padding{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

}
