.card__title{
  text-align: start !important;
  padding: 0px !important;
  margin-top: 64px;
}
.header__img{
  padding-bottom: 0px !important;
}
.text__post{
  margin-top: 32px;
}
.content_post{
 min-height: calc(100vh - 348px);
}
.box__post{
  margin-top: 16px;
}

.header__img{
   background-image:url('image/ImgAbout.png') !important;
}
